<style>
.order_active {
  color: #469 !important;
}
</style>
<table class=scaffold>
  <tr>
    <th><a href=?page=<%= params[:page]%>&order=id>id</a>
    <th>uid
    <th><a href=?page=<%= params[:page]%>&order=nick>nick</a>
    <th><a href=?page=<%= params[:page]%>&order=organization>organization</a>
    <th><a href=?page=<%= params[:page]%>&order=data_count>urls count</a>
    <th><a href=?page=<%= params[:page]%>&order=referrals>referrals count</a></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.id %>
    <td><%= profile.uid %>    
    <td><%= profile.nick %>
    <td><%= (profile.Organization.name rescue "") %>
    <td><%= profile.data_count %>
    <td><%= profile.children_count %>
    <td><%= link_to 'Show', "/profiles/"+profile.id.to_s %></td>
<% if false %>    
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>    
  </tr>
<% end %>
</table>
<br>
<%= will_paginate @books %>

<br />

<% if false %>
<%= link_to 'New Profile', new_profile_path %> -->
<% end %>

<script>
$(function() {
  $("a[href$='order=<%= (params[:order]?params[:order]:"id")%>']").addClass("order_active");
});


</script>