<p id="notice"><%= notice %></p>
<p>
  <b>Nick:</b>
  <%= @profile.nick %>
</p>
 
<p>
  <b>Uid:</b>
  <%= @profile.uid %>
</p>


<p>
  <b>Organization:</b>
  <%= (@profile.Organization.name rescue "not defined") %>
</p>

<b>Urls</b><br>
<% @profile.ProfileUrls.each do |url|  %>
  <%= url.data %><br>
<% end %>

<b>Referrals</b><br>
<% @profile.Child.each do |child|  %>
  <a href=/profiles/<%= child.id%>>
  <b>ID:</b> <%= child.id %>
  <b>Uid:</b> <%= child.uid %>
  <b>Nick:</b> <%= child.nick %>
  </a>
  <br>
<% end %>

<% if false %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', "javascript:history.back(1)"   %>
